@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}

html body {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1e1e1f;
  background: linear-gradient(
    135deg,
    #fc6c2a,
    #f7f73e,
    #47d835,
    #40d2f1,
    #7837f5
  );
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
